@charset "ISO-8859-1";
*{
	margin: 0px;
}
body{
	background-image: url("https://cdn.pixabay.com/photo/2021/12/11/07/59/hotel-6862159_960_720.jpg");
	background-repeat: no-repeat;
	background-size: cover;
}
.loginpage{
	border: 1px solid black;
	height: 400px;
	width : 350px;
	background-color:  beige;
	margin: 200px 550px;	
}

.input-field{
    width: 330px;
    height: 30px;
    border: 1px solid gray;
    border-radius: 8px;
    padding-left: 5px;
    padding-right: 5px;
}
.submit_btn{
	margin-left: 155px;
}
#or-cnt::before{
    content: "";
    border-top: 1px solid black;
    position: absolute;
    width: 160px;
    transform: translateY(13px);
    left: 550px;
}
#or-cnt::after{
    content: "";
    border-top: 1px solid black;
    position: absolute;
    width: 160px;
    transform: translateY(13px);
    right: 620px;
}
#or-cnt{
    text-align: center;
}
#last{
    position: relative;
    top: 30px;
}
#button{
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}
a:link{
    color: blue;
    text-decoration: none;
}
a:visited{
    color: blue;
    text-decoration: none;
}
a:active{
    color: blue;
    text-decoration: none;
}